$main-color: #f75c49;
$accent-color: #fff;
$hover-color: #cc4836;
$base-font-size: 16px;
$base-font-weight: 400;
$base-font: "PT Sans";
$title-font-size: 40px;
$title-font-weight: 600;
$title-font: "Source Sans Pro";
